/* *{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;} */


/* шрифты в макете */
/* font-family: 'Open Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */

@font-face {
	font-family: 'big-john';
	src: url('fonts/big-john.eot');
	src: local('☺'), url('fonts/big-john.woff') format('woff'), url('fonts/big-john.ttf') format('truetype'), url('fonts/big-john.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

body {
  background-image: url(../img/bg.jpg.jpg) ;
  width: 100%;
  color: #fff;
}

.header {

}

.conteiner {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
 text-align: center;
}

.logo-top {
    margin-left: 96px;
    margin-right: 471px;
}

.logo {
  font-size: 25px;
  font-family: 'big-john';
  text-transform: uppercase;
  text-align: center;
}

.list {
 margin-right:80px 
}

ul {
  text-align: center;
}

ul li{
  font-family: 'Open Sans', sans-serif;
  display: flex;
  font-size: 16px;
  line-height: 12px;
  display: inline-block;
  margin-right: 29px;
  padding-top: 8px;
}

ul li:first-child {
  border: 1px solid #fff;
  border-radius: 15px;
  height: 33px;
  width: 80px;
}

.conteiner-center {
  width: 624px;
  margin: 0 auto;
  margin-top: 177px;
  text-align: center;
}

.title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 35px;
  line-height: 70px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.text {
  margin-top: 18px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  line-height: 28px;
  margin-bottom: 150px;
}



.btn {
  border: none;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  background-color: #19bd9a;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

 i {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
} 

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
} 